<h1>Login</h1>
   <%= form_tag '/login' do %>
   <%= label_tag :email %>
   <%= text_field_tag :email %>
   <%= label_tag :password%>
   <%= password_field_tag :password%>
   <%= submit_tag "Login"%>
<%end%>

<h3>Not registered? Sign up <%= link_to 'here', '/users/new' %></h3>
