<div class="container">

<% if @owner.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@owner.errors.count, "error") %> prohibited this owner from being saved</h2>

    <% @owner.errors.full_messages.each do |message|%>
      <p><%= message %> </p>
  </div>
    <% end %>
<% end %>

    <%= form_for @owner do |form| %>
        <div>
            <%= form.label :first_name, "First name:" %>
            <%= form.text_field :first_name %>
        </div>

        <div>
            <%= form.label :last_name, "Last name:" %>
            <%= form.text_field :last_name %>
        </div>

        <div>
            <%= form.label :telephone, "Telephone:" %>
            <%= form.text_field :telephone %>
        </div>

        <div>
            <%= form.label :address_1, "Address line 1:" %>
            <%= form.text_field :address_1 %>
        </div>

        <div>
            <%= form.label :address_2, "Address line 2:" %>
            <%= form.text_field :address_2 %>
        </div>

        <div>
            <%= form.label :town, "Town:" %>
            <%= form.text_field :town %>
        </div>

        <div>
            <%= form.label :postcode, "Postcode:" %>
            <%= form.text_field :postcode %>
        </div>

    <%= form.submit "Submit" %>

<% end %>

</div>
